@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500');
@import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Karla');

/*** Variables ***/
/* colors */
$saffron: #F7B733;
$carmine-pink: #E2504A;
$soap: #CBDBEF;
$united-nations-blue: #4A90E2;
$orange: #E29C4A;

/* fonts */
$logo-font: 'Karla', sans-serif;
$heading-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;


/* Center the content and keep it under 750px*/
@media (min-width: 1200px) {
  .content-container{
      max-width: 750px;
      margin: 0 auto;
  }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $soap;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $soap; /*BACKGROUND color for active*/
 /*background-color: white;*/
 /*box-shadow: 10px 10px bd;*/
}

.navbar-default .navbar-toggle {
  border-color: $united-nations-blue;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default {
  background-color: $united-nations-blue;
  font-variant: small-caps;
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
  font-variant: small-caps;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand > .active > a:focus > a:hover {
  color: black;
}

/* Typography */

body {
  padding-top: 70px;
  font-family: $body-font;
  background-color: $soap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

h1 {
  color: #525b73;
  font-weight: 100;
  font-family: $logo-font;
  font-variant: small-caps;
}

.page-header {
  border-bottom: $soap;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-paragraph {
  font-size: 120%;
}

.nav-pills>li>a:hover{
    background-color: #eff4fa;
    color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: $united-nations-blue;
}

.panel-info>.panel-heading {
  color: white;
  background-color: $united-nations-blue;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
  background-color: #eff4fa;
}

.btn-default {
  background-color: #eff4fa;
}

a:hover {
  color: black;
  text-decoration: none;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  background-color: grey;
}

a.list-group-item-danger, button.list-group-item-danger {
  background-color: #e2504a;
}

a.list-group-item-warning, button.list-group-item-warning {
  background-color: $saffron;
}

a.list-group-item-info, button.list-group-item-info {
  background-color: $united-nations-blue;
}

a.list-group-item .list-group-item-heading {
    color: white;
}
