// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500');
// @import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Karla');

/*** Variables ***/
/* colors */
$cream: #FCFFE4;
$morning-sky: #1A7DD7;
$white: #fff;
$honey: #b6d2f3;

/* fonts */
$logo-font: 'Karla', sans-serif;
$heading-font: 'Karla', sans-serif;
$body-font: 'Karla', sans-serif;

/* Center the content and keep it under 750px*/
@media (min-width: 1200px) {
  .content-container{
      max-width: 750px;
      margin: 0 auto;
  }
}

/* NavBar */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $morning-sky;  /*Sets the text hover color on navbar*/
  background-color: $honey;
}


.navbar-default .navbar-toggle.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: $honey;
  color: $white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $morning-sky; /*BACKGROUND color for active*/
 /*background-color: white;*/
 /*box-shadow: 10px 10px bd;*/
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar-default {
  background-color: $morning-sky;
  border-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: $white; /*Change active text color here*/
}

.navbar-default .navbar-brand {
  &:hover {
    background-color: $honey;
    color: $morning-sky;
  }
  color: $white;
}


.nav-pills>li>a:hover{
    background-color: $honey;
    color: $morning-sky;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: $morning-sky;
}

body {
  padding-top: 70px;
  font-family: $body-font;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $morning-sky;
}

h1 {
  font-weight: 100;
  font-family: $logo-font;
}

/* Header */
.page-header {
  border-bottom: $morning-sky;
}

.language-paragraph {
  font-size: 120%;
}

/* Buttons */

.btn-sq-lg {
  width: 250px !important;
  height: 250px !important;
  font-size: 120%;
}

.btn-default {
  background-color: $morning-sky;
}

.btn-eviction, .btn-renters, .btn-shelter, .btn-issue, .btn-legal, .btn-location {
  color: #fff;
  border: 1px solid #fff;
  &:hover {
    border: 3px solid white;
    font-weight: 800;
    color: #fff;
  }
}

.btn-eviction {
  background-color: #03275A;
}

.btn-renters {
  background-color: #1A7DD7;
}

.btn-shelter {
  background-color: #F2B809;
}

.btn-issue {
  background-color: #139EB2;
}

.btn-legal {
  background-color: #F34605;
}

.btn-location {
  background-color: #07BD00;
}

.glyphicon-file:before, .glyphicon-question-sign:before, .glyphicon-signal:before, .glyphicon-home:before, .glyphicon-map-marker:before, .glyphicon-pencil:before {
 font-size: 750%;
}

/* Panel */
.panel-info>.panel-heading {
  color: white;
  background-color: $morning-sky;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
  background-color: $morning-sky;
  border-top-color: $morning-sky;
}

/* Links */

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
}




a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  background-color: $honey;
}

a.list-group-item-danger, button.list-group-item-danger {
  background-color: $morning-sky;
}

a.list-group-item .list-group-item-heading {
  color: white;
}


